name: Laravel CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  laravel-tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.2'
        extensions: mbstring, dom, curl, libxml, mysql
        coverage: xdebug

    - name: Install Dependencies
      run: |
        cd Backend
        composer install --prefer-dist --no-ansi --no-interaction --no-progress --no-scripts
        cp .env.example .env

    - name: Generate key
      run: |
        cd Backend
        php artisan key:generate

    - name: Directory Permissions
      run: chmod -R 777 Backend/storage Backend/bootstrap/cache

    - name: Run Tests
      run: |
        cd Backend
        php artisan test